 .logo img{height: 35px;}.mid-logo-wrapper .logo img{height: 90px;}body,p,code, kbd, pre, samp{font-size: 14px;line-height: 24px;}body{background-image: url("") !important;}.mega-menu .dropdown-menu > li > a:hover,
.mega-menu .dropdown-submenu:hover>a,
.star-reviews,
.post-content a,
a,
.dropdown-menu .mega-menu-news .mega-menu-detail h4 a:hover,
.nav .tabs-left > .nav-tabs > li > a:hover,
.nav .tabs-left > .nav-tabs > li.active > a,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus,
.dropdown-menu>.active>a,
.navbar-nav>li.open>a,
.navbar-nav>li.open>a:after,
.widget-content li h3 a:hover,
.news-title a:hover,
.small-article h6 a:hover,
.simple-post h3 a:hover,
.widget-post h3 a:hover,
.widget_categories li a:hover,
.widget_categories li a:hover span,
.comments-wrapper .comment-reply-link,
.post-header .simple-share a,
.parallax-wrapper .simple-share a,
.post-content > p:first-child:first-letter,
.drop-caps,
.author-position,
.simple-share .author a,
.simple-share .author a:hover,
.box-news .simple-share a,
.box-news .simple-share a:hover,
.post-nav-wrapper a:hover,
.author-box .author-info h3 a:hover,
.author-contact a:hover,
.comments-wrapper .author-name:hover,
.post-header .simple-share a:hover,
.post-header .simple-share a:focus,
.parallax-wrapper .simple-share a:hover,
.parallax-wrapper .simple-share a:focus,
.tag-list li.trending{color: #ff6600}.progress-bar,.progress-bar, .tags-widget li a:hover, .tagcloud a:hover, .tag-list li a:hover, .tag-list li.active a{background-color: #ff6600}.mega-menu .dropdown-submenu:hover>a:after,
.nav .tabs-left > .nav-tabs > li.active>a:after{border-left-color: #ff6600}.widget .nav-tabs>li.active>a,
.widget .nav-tabs>li.active>a:focus,
.widget .nav-tabs>li.active>a:hover,
.block-title span,
.comments-wrapper .comment-reply-link:hover,
.modern-quote,
.box-news .simple-share a:hover,
.simple-share .author a:hover,
.post-header .simple-share a:hover,
.post-header .simple-share a:focus,
.parallax-wrapper .simple-share a:hover,
.parallax-wrapper .simple-share a:focus,
.progress-bar, .tags-widget li a:hover, .tagcloud a:hover{border-color: #ff6600}.navbar-nav>li>a{font-size: 13px;line-height: 20px;}.mega-menu .dropdown-menu>li, .dropdown-menu>li>a, .mega-menu .nav-tabs>li>a{font-size: 12px;line-height: 20px;}.block-title, .comment-reply-title, .widget .nav-tabs>li>a,.widget .nav-tabs>li, .wpb_heading, .widgettitle, .footer-title{font-size: 20px;line-height: 24px;}.mm-listview>li>a{font-size: 12px;}.h1, h1{font-size: 38px;line-height: 46px;}.h2, h2{font-size: 32px;line-height: 38px;}.h3, h3{font-size: 28px;line-height: 34px;}.h4, h4{font-size: 21px;line-height: 25px;}.h5, h5{font-size: 14px;line-height: 19px;}.h6, h6{font-size: 14px;line-height: 17px;}.post-title{font-size: 42px;line-height: 50px;}.parallax-wrapper .post-title{font-size: 52px;line-height: 56px;}.post-content{max-width: 1110px}.bgcolor2{background-color:#16a085 !important;}.navbar-nav>li.open.menu-color2>a,.navbar-nav>li.open.menu-color2>a:after{
color: #16a085;
border-top-color: #16a085;
}
.navbar-nav>li.menu-color2>a:hover{
color: #16a085;
}
.nav .menu-color2 .tabs-left > .nav-tabs > li > a:hover,
.nav .menu-color2 .tabs-left > .nav-tabs > li.active > a{
color:#16a085;
}
.mega-menu .menu-color2 .dropdown-submenu:hover>a:after,
.nav .menu-color2 .tabs-left > .nav-tabs > li.active>a:after{
border-left-color:#16a085;
}
.menu-color2 .dropdown-menu .mega-menu-news .mega-menu-detail h4 a:hover{
color:#16a085;
}
.mega-menu .menu-color2 .dropdown-menu > li > a:hover,
.mega-menu .menu-color2 .dropdown-submenu:hover>a{
color:#16a085;
}.bgcolor3{background-color:#AF72B3 !important;}.navbar-nav>li.open.menu-color3>a,.navbar-nav>li.open.menu-color3>a:after{
color: #AF72B3;
border-top-color: #AF72B3;
}
.navbar-nav>li.menu-color3>a:hover{
color: #AF72B3;
}
.nav .menu-color3 .tabs-left > .nav-tabs > li > a:hover,
.nav .menu-color3 .tabs-left > .nav-tabs > li.active > a{
color:#AF72B3;
}
.mega-menu .menu-color3 .dropdown-submenu:hover>a{
color:#AF72B3;
}.bgcolor5{background-color:#3babd0 !important;}.navbar-nav>li.open.menu-color5>a,.navbar-nav>li.open.menu-color5>a:after{
color: #3babd0;
border-top-color: #3babd0;
}
.navbar-nav>li.menu-color5>a:hover{
color: #3babd0;
}
.nav .menu-color5 .tabs-left > .nav-tabs > li > a:hover,
.nav .menu-color5 .tabs-left > .nav-tabs > li.active > a{
color:#3babd0;
}
.mega-menu .menu-color5 .dropdown-submenu:hover>a:after,
.nav .menu-color5 .tabs-left > .nav-tabs > li.active>a:after{
border-left-color:#3babd0;
}
.menu-color5 .dropdown-menu .mega-menu-news .mega-menu-detail h4 a:hover{
color:#3babd0;
}
.mega-menu .menu-color5 .dropdown-menu > li > a:hover,
.mega-menu .menu-color5 .dropdown-submenu:hover>a{
color:#3babd0;
}.bgcolor6{background-color:#8eb021 !important;}.navbar-nav>li.open.menu-color6>a,.navbar-nav>li.open.menu-color6>a:after{
color: #8eb021;
border-top-color: #8eb021;
}
.navbar-nav>li.menu-color6>a:hover{
color: #8eb021;
}
.nav .menu-color6 .tabs-left > .nav-tabs > li > a:hover,
.nav .menu-color6 .tabs-left > .nav-tabs > li.active > a{
color:#8eb021;
}
.mega-menu .menu-color6 .dropdown-submenu:hover>a:after,
.nav .menu-color6 .tabs-left > .nav-tabs > li.active>a:after{
border-left-color:#8eb021;
}
.menu-color6 .dropdown-menu .mega-menu-news .mega-menu-detail h4 a:hover{
color:#8eb021;
}
.mega-menu .menu-color6 .dropdown-menu > li > a:hover,
.mega-menu .menu-color6 .dropdown-submenu:hover>a{
color:#8eb021;
}
